
@{
    Layout="_Layout";
    ViewData["Title"] = "Create Person";
}
    <h1>Create Your Favorite Person</h1>
    <form asp-controller="Home" asp-action="DisplayPerson" method="post">
     <table>
         <tr>
             <td>First Name: </td>
             <td><input type="text" name="firstName" /></td>
         </tr>
         <tr>
             <td>Last Name: </td>
             <td><input type="text" name="lastName" /></td>
         </tr>
         <tr>
             <td>Age: </td>
             <td><input type="number" name="age" min="0" max="150" /></td>
         </tr>
         <tr>
             <td>Email Address: </td>
             <td><input type="email" name="emailAddress" /></td>
         </tr>
         <tr>
             <td>Date of Birth: </td>
             <td><input type="date" name="dob" /></td>
         </tr>
         <tr>
             <td>Password: </td>
             <td><input type="password" name="pass" /></td>
         </tr>
         <tr>
             <td>Description: </td>
             <td><input type="text" name="descrip" /></td>
         </tr>
     </table> 
     <input type="submit" value="Create" />
    </form>

